<app-navbar></app-navbar>
<div class="container first">
  <h2 class="title text-center">Plataforma de <b>Mentoria</b> para estudantes da FEMA</h2>
  <div class="icon-mcc">
    <img src="../../../assets/icons/icon mcc.png">
  </div>
</div>

<div class="container cards">
  <div class="card" style="width: 18rem;">
    <img src="../../../assets/coruja/c1.png" class="card-img-top">
    <div class="card-body">
      <p class="card-text">Troca de experiências entre alunos iniciantes e avançados.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../../assets/coruja/c3.png" class="card-img-top">
    <div class="card-body">
      <p class="card-text">Solução de dúvidas sobre matérias e conteúdos.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../../assets/coruja/c4.png" class="card-img-top">
    <div class="card-body">
      <p class="card-text">Aprendizado constante com competição saudável.</p>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-6 text-center">
      <img src="../../../assets/coruja/c2.png">
    </div>
    <div class="col-6 text-center pt-5">
      <h2>MentorMe</h2>
      <a>Fale Conosco</a><br>
      <a href="https://fema.edu.br/">FEMA</a>
    </div>
  </div>
  <div class="text-center">
    <p>Copyright © 2024 MentorMe - Todos os direitos reservados</p>
  </div>
</footer>
